.hero-container {
	min-height: 25rem;
	align-items: center;
	background-image: url('../assets/images/hero.webp');
	background-size: cover;
	background-position: bottom;
}
.hero-content {
	align-items: center;
	justify-content: center;
	padding-inline: 0.75rem;
}

.hero-cta,
.about-cta,
.contact-cta,
.projects-cta {
	width: fit-content;
}

.hero-overlay {
	background: radial-gradient(circle, rgba(242, 240, 239, 0.8) 0%, rgba(54, 69, 79, 0.5) 100%);
}
