:root {
	line-height: 1.5;
	font-weight: 400;
	--font-headings: 'Playfair', sans-serif;
	--font-body: 'Source Sans 3', monospace;

	color-scheme: light dark;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-headings);
}

a {
	font-weight: 500;
	color: #242424;
	text-decoration: inherit;
}

body {
	margin: 0;
	min-width: 320px;
	color: #36454f;
	font-family: var(--font-body);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
h2 {
	font-size: 2.5em;
	line-height: 1.1;
}
h3 {
	font-size: 2em;
	line-height: 1.1;
}

.block-padding-large {
	padding-block: 8rem;
}
.block-padding-medium {
	padding-block: 3rem;
}
.block-padding-small {
	padding-block: 2rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
